.App {
  text-align: center;
}
.App-header {
  padding: 15px;
  font-size: 60px;
  font-family: 'Rock Salt', cursive;
}
.App-intro {
  font-size: 18px;
  width: 350px;
  padding-left: 37%;
}
.hero{
  /* Logo */
}
.product{
  padding: 60px;
}
