.App {
  text-align: center;
}
.App-header {
  padding: 3px;
  font-size: 100px;
  font-family: 'Rock Salt', cursive;
  background-color: black;
  color:white;
}
.App-intro {
  font-size: 20px;
  width: 550px;
  padding-left: 29%;
  font-family: 'Rock Salt', cursive;
}
.hero{
  /* Logo */
}
.product{
  margin: 35px;
  border-style: solid;
  border-radius: 50%;

}
