.App {
  text-align: center;
}
.App-header {
  padding: 3px;
  font-size: 100px;
  font-family: 'Rock Salt', cursive;
}
.App-intro {
  font-size: 22px;
  width: 550px;
  padding-left: 29%;
  font-family: 'Nobile', sans-serif;
}
.hero{
  /* Logo */
}
.product{
  padding: 60px;
}
